<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Code Champ Dashboard</title>
	<style>
		.message{
			text-align: center;
			padding-top: 10%;
			padding-bottom: 10%;
		}
		.dashboard{
			color: white;
		}
		.navbar-header{
			padding-top: 10px;
			padding-left: 20px;
		}
	</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-header">
				<h4 class="dashboard">Dashboard</h4>
			</div>
	</nav>

	<br>
	<br>

	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="message">
					<h1>Hello</h1>
					<br>
					<h1> [[${{user}}]]</h1>
				</div>

			</div>
		</div>


	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>