<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
    <display-name>SQLInjection</display-name>
    <servlet>
        <servlet-name>SQLi</servlet-name>
        <servlet-class>we45.training.labs.SQLi</servlet-class>
        <init-param>
            <param-name>development</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>we45.training.labs.Error</servlet-class>
        <init-param>
            <param-name>development</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Insecure</servlet-name>
        <servlet-class>we45.training.labs.Insecure</servlet-class>        
    </servlet>
    <servlet>
        <servlet-name>Secure</servlet-name>
        <servlet-class>we45.training.labs.Secure</servlet-class>
        <init-param>
            <param-name>development</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SQLi</servlet-name>
        <url-pattern>/sqli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insecure</servlet-name>
        <url-pattern>/insecure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Secure</servlet-name>
        <url-pattern>/secure</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>insecure</welcome-file>
    </welcome-file-list>
</web-app>